<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <div id="myDiv">myDiv</div>
    <div id="myDiv2">myDiv2</div>
    <title>Document</title>
</head>
<body>
    
    <script>

        $("div").text("both the same now");
        $("#myDiv").css("color","red");
    
    </script>
</body>
</html>